:host {
  display: block;

  .preview {
    background: #e7e6e6;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}
